.team-main-sec {
    background-color: #000;
    padding: 70px 0;
    margin: -10px 0;
}

.globe-img{
    margin: 0 auto;
    display: table;
}

.globe-main-sec {
    position: relative;
}

.globe-img {
    margin: 0 auto;
    display: table;
}

.line-box {
    position: absolute;
}

.first-line-box {
    top: 140px;
    left: 280px;
}

.second-line-box {
    top: 270px;
    left: 260px;
}

.third-line-box {
    top: 444px;
    left: 310px;
}

.fourth-line-box {
    top: 40px;
    right: 350px;
}

.fifth-line-box {
    top: 130px;
    right: 280px;
}

.sixth-line-box {
    top: 250px;
    right: 308px;
}

.cigrate-img {
    position: absolute;
    top: -50px;
    right: 70px;
    left: 0;
    margin: 0 auto;
}

.title-right-sec {
    background-color: #fa1f6c;
}

.title-right-sec h4 {
    font-size: 105px;
    text-transform: uppercase;
    color: #fff;
    font-family: Akira-Expanded;
}

.title-right-sec p {
    color: #fff;
}

.title-right-sec button {
    background-color: yellow;
    border: none;
    padding: 0 20px;
    font-size: 31px;
    text-transform: uppercase;
    color: #000;
}

.title-main-sec {
    margin: 10px 0 0 0;
}

.title-right-sec {
    background-color: #fa1f6c;
    padding: 100px;
}

.team-image-sec{
    position: relative;
}


.team-image-sec img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

section {
    position: relative;
    height: 100vh;
    font-size: 50px;
    text-align: center;
    line-height: 100vh;
  }
  
  .img-mask {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .img-mask img {
    height: 100vh;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
  }

.line-box h6 {

    font-size: 30px;
    color: #fff;
    font-family: 'Gotham-Ultra';
    transition: all 0.5s ease-in-out;
    -webkit-animation: zoom-in-zoom-out linear 1s 1 forwards;
    animation: zoom-in-zoom-out linear 1s 1 forwards;

}

.first-line-box h6 {
    position: absolute;
    top: -22px;
    left: -210px;
}

.fourth-line-box h6 {
    position: absolute;
    top: -20px;
    left: 270px;
    width: 100%;
}

.fifth-line-box h6 {
    position: absolute;
    top: -20px;
    left: 270px;
    width: 100%;
}

.sixth-line-box h6 {
    position: absolute;
    top: -19px;
    left: 265px;
    width: 100%;
}

.second-line-box h6 {
    position: absolute;
    top: -20px;
    right: 210px;
    width: 100%;
}

.third-line-box h6 {
    position: absolute;
    top: -21px;
    width: 100%;
    right: 210px;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.10, 1.10);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .globe-img{
    cursor: pointer;
  }