.text-sec {
    background-image: linear-gradient(to right, #9a1543, #b2184d, #ca1b58, #e31d62, #fc206d);
    margin: -10px 0;
    padding: 10px 0;
    position: relative;
}

.text-sec h2 {
    font-family: Akira-Expanded;
    font-size: 115px;
    color: #41ead4;
    margin: 0;
    padding: 0;
}

.text-sec h1 {
    font-family: Akira-Expanded;
    font-size: 200px;
    color: #41ead4;
    width: 300%;
    margin: 0;
    padding: 0;
    line-height: 130px;
}

.words-smoke-sec {
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
    text-align: center;
}

.words-smoke-sec .words-img {
    position: absolute;
    left: 39%;
    top: 0;
}